{% extends 'generic/object_list.html' %}
{% load helpers %}
{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Tenant IP List" %}{% endblock %}

{% block controls %}
  <div class="controls">
    <div class="control-group">
      <div class="dropdown">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="mdi mdi-sort"></i> {% trans "Sort By" %} {{ sort_display_name }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          {% for sort_key, sort_display_name in sort_choices.items %}
            <li><a class="dropdown-item{% if sort == sort_key %} active{% endif %}" href="{% url 'plugins:netbox_extended_lists:prefix_list' %}{% querystring request sort=sort_key %}">{{ sort_display_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content-wrapper %}
  <div class="tab-content">

    {% if filter_form %}
      {% applied_filters model filter_form request.GET %}
    {% endif %}

    {# IP view #}
    <div class="tab-pane show active" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">
      {% if page %}
          <div style="white-space: nowrap; display: flex; flex-direction: row; flex-wrap: wrap;">
              {% for entry in tables %}
                  <div style="display: inline-block; margin-right: 12px">
                  <div style="margin-left: 30px">
                      <div class="text-center">
                          <strong><a href="{% url 'ipam:prefix' pk=entry.prefix.pk %}">{{ entry.prefix.prefix }}</a></strong>
                          <strong>{{ entry.prefix.vlan }}</strong>
                            {% render_table entry.table %}
                      </div>
                  </div>
                  </div>
              {% endfor %}
          </div>
          <br />
      {% else %}
          <p>{% trans "No Prefixes Found" %}</p>
      {% endif %}
    </div>

    {# Filter form #}
    {% if filter_form %}
      <div class="tab-pane show" id="filters-form" role="tabpanel" aria-labelledby="filters-form-tab">
        {% include 'inc/filter_list.html' %}
      </div>
    {% endif %}

  </div>
{% endblock content-wrapper %}

{% block modals %}{% endblock %}
